*
{
    margin: 0;
    padding: 0;
}

body 
{
    
    background-color: rgb(49, 49, 49);
}

#container 
{
    background-color: white;
    width: 94.7916%;
    margin: 0 auto;
}

header 
{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 94.75%;
    padding: 2.60%;
    margin-bottom: 1.04%;
    color: white;
    
}

nav 
{
    padding: 1.04%;
    background-color: rgb(227, 197, 46);
    width: 97.91%;
    margin-bottom: 1.04%;
}

nav li
{
    display: inline;
    list-style-type: none;
    padding-right: 5.208%;
    
}

nav a:link 
{
color:black;
text-decoration: none;
}

nav a:visited
{
    color: black;
}

aside 
{
    width: 20.83%;
    height: 41.66%;
    padding: 1.04%;
    background-color: rgb(246, 243, 152);
    margin-right: 1.04%;
    margin-bottom: 1.04%;
    float: left;
}

section
{
    background-color: rgb(0, 0, 0);
    width: 73.95%;
    height: 41.66%;
    margin-bottom: 10px;
    padding: 1.04%;
    float: right;
    color: white;
}

footer
{
    background-color:  rgb(227, 197, 46);
    clear: both;
    padding: 1.04%;
}

p 
{
    padding: 1.04%;
    
}

section p 
{
    padding: 1.04%;
    border-style: dotted;
}

#list 
{
    color: black;
    height: 10.41%;
    background-color: white;
    width: 14.58%;
    list-style-image: url(./images/listbat.gif);
    padding-left: 2.604%;
}

#solid 
{
    border-style: solid;
    border-color: rgb(211, 180, 0);
}

img 
{
    width: 75%;
    height: 75%;
    max-width: 180;
    max-height: 230;
}

#icons img
{   width: 10%;
    height: 10%;
    max-width: 30;
    max-height: 50;
}

@media (max-width: 600px)
{
    aside 
    {
        float: none;
        width: 100%;
        margin: 0 0 10 0;
    }

    section 
    {
       float: none;
       width: 100%;
       margin: 0 0 10 0; 
    }

    #list
    {
        list-style-image: none;
    }
}