*
{
    margin: 0;
    padding: 0;
}

body 
{
    background-color: rgb(49, 49, 49);
}

#container 
{
    background-color: white;
    width: 94.7916%;
    margin: 0 auto;
}

header 
{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 94.7916%;
    padding: 2.6041%;
    margin-bottom: 1.0416%;
    color: white;
    
}

nav 
{
    padding: 1.0416%;
    background-color: rgb(227, 197, 46);
    width: 97.9166%;
    margin-bottom: 1.0416%;
}

nav li
{
    display: inline;
    list-style-type: none;
    padding-right: 5.2083%;
    
}

nav a:link 
{
color:black;
text-decoration: none;
}

nav a:visited
{
    color: black;
}

aside 
{
    width: 20.833%;
    height: 400px;
    padding: 1.0416%;
    background-color: rgb(246, 243, 152);
    margin-right: 1.0416%;
    margin-bottom: 1.0416%;
    float: left;
}

section
{
    background-color: rgb(0, 0, 0);
    width: 73.958%;
    height: 400px;
    margin-bottom: 1.041%;
    padding: 1.041%;
    float: right;
    color: white;
}

footer
{
    background-color:  rgb(227, 197, 46);
    clear: both;
    padding: 1.041%;
}

p 
{
    padding: 1.041%;
    
}

section p 
{
    padding: 1.041%;
    border-style: dotted;
}

#list 
{
    color: black;
    height: 100px;
    background-color: white;
    width: 14.583%;
    list-style-image: url(./images/listbat.gif);
    padding-left: 2.6041%;
}

#solid 
{
    border-style: solid;
    border-color: rgb(211, 180, 0);
}
aside img 
{
    width: 100%;
    max-width: 300px;
    margin-bottom: .5em;
}
#solid img 
{
    width: 100%;
    max-width: 50px;
    margin-bottom: .5em;
}