*
{
    margin: 0;
    padding: 0;
}

body 
{
    background-color: rgb(49, 49, 49);
}

#container 
{
    background-color: white;
    width: 960px;
    margin: 0 auto;
}

header 
{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 910px;
    padding: 25px;
    margin-bottom: 10px;
    color: white;
    
}

nav 
{
    padding: 10px;
    background-color: rgb(227, 197, 46);
    width: 940px;
    margin-bottom: 10px;
}

nav li
{
    display: inline;
    list-style-type: none;
    padding-right: 50px;
    
}

nav a:link 
{
color:black;
text-decoration: none;
}

nav a:visited
{
    color: black;
}

aside 
{
    width: 200px;
    height: 400px;
    padding: 10px;
    background-color: rgb(246, 243, 152);
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

section
{
    background-color: rgb(0, 0, 0);
    width: 710px;
    height: 400px;
    margin-bottom: 10px;
    padding: 10px;
    float: right;
    color: white;
}

footer
{
    background-color:  rgb(227, 197, 46);
    clear: both;
    padding: 10px;
}

p 
{
    padding: 10px;
    
}

section p 
{
    padding: 10px;
    border-style: dotted;
}

#list 
{
    color: black;
    height: 100px;
    background-color: white;
    width: 140px;
    list-style-image: url(./images/listbat.gif);
    padding-left: 25px;
}

#solid 
{
    border-style: solid;
    border-color: rgb(211, 180, 0);
}