*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./images/batman.png);
    background-position: center ;
    background-repeat: no-repeat;
    background-color: black;
    background-size: 20%;
    background-attachment: fixed;
    border-style: solid;
    border-color: rgb(202, 159, 5);
}

#container{
    display: flex;
    justify-content: center;
}

header{
    margin: 5px;
    text-align: center;
}

h1, h2, h3, h6{
    color: white;
    margin: 20px;
    
}

nav {
    background-color:rgb(240, 246, 152);
    line-height: 3em;
    border-style: groove;
    border-color: white;
    display: flex;
    justify-content: center;
    margin: 10px;
}

nav ul{
    width: 100%;
    background-color: rgb(227, 197, 46);
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav li{
    
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.562) inset ;
    background-color: rgb(227, 197, 46);
    list-style-type: none;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

nav a:link {
    color:beige;
    text-decoration: none;
}

nav a:visited {
    color:beige;
}

nav a:hover {
    color:rgb(0, 0, 0);
    text-decoration: underline;
}

main{
    background-color:rgb(0, 0, 0);
    margin: 10px;
}

p {
    color: rgb(225, 197, 11);
    margin: 20px;
    
}

table{
    border: solid 1px white;
    border-collapse: separate;
    border-spacing: 3px;
    width: 50%;
    text-align: center;
    background-color: rgb(249, 255, 192);
}

tr, td, th{
    border: solid 2px white;
    color: white;
    padding: 5px;
}

div tr{
    margin: 10px;
}
td{
    text-align:left;
    background-color: rgba(117, 110, 7, 0.418);
}

th{
    background-color: rgb(211, 212, 106);
}
caption{
    color: white;
    font-weight: bold;
}

br{
    color: white;
}

footer{
   color: white; 
}

/* Form CSS */

form{
    background-color: rgba(228, 203, 91, 0.5);
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 20%;
}
label{
    border-bottom-style:solid;
    border-bottom-width: 0.1cap;
    border-color: rgba(37, 35, 35, 0.568);
}

form p {
    background-color: rgba(241, 208, 60, 0.61);
    box-shadow: 5px 5px 5px rgb(21, 22, 4);
    color: rgb(0, 0, 0);
}
form h2{
    text-align: center;
}
