

*
{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

header
{
    background-color: rgb(0, 0, 0);
}

nav 
{
    background-color: rgb(55, 75, 60);
    height: 40px;
    width: 920px;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    border-style: double;
}

nav ul 
{
    display: inline;
    padding: 130px;
}
nav li
{
    display: inline;
    list-style-type: none;
    padding-left: 40px;
    padding-left: 40px;
    text-align: center;
    height: 20px;
    background-color: rgb(111, 153, 117);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    
   
}
body 
{
    background-color: rgb(19, 22, 36);
}

#container 
{
    background-color: rgb(0, 0, 0);
    width: 960px;
    margin: 0 auto;
}


aside 
{
    width: 200px;
    height: 400px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

section
{
    background-color: rgb(255, 255, 255);
    width: 710px;
    height: 400px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    float: right;
    color: white;
}

footer
{
    background-color:  rgb(227, 197, 46);
    clear: both;
    padding: 10px;
}
#imgcontainer
{
   display: flex;
   justify-content: center;
}

p 
{
    padding: 10px;
    background-color: rgb(71, 100, 75);
    border-style:double;
    border-color: rgb(255, 255, 255);
}

h1
{
    text-align: center;
}

h2, h3
{
    text-align: center;
    background-color: black;
    margin-bottom: 10px;
}

/*START OF BLUE */


#blue *
{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

#blue header
{
    background-color: rgb(0, 0, 0);
}

#blue nav 
{
    background-color: rgb(38, 61, 68);
    height: 40px;
    width: 920px;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    border-style: double;
}

#blue nav ul 
{
    display: inline;
    padding: 130px;
}
#blue nav li
{
    display: inline;
    list-style-type: none;
    padding-left: 40px;
    padding-left: 40px;
    text-align: center;
    height: 20px;
    background-color: rgb(88, 133, 160);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    
   
}
#blue body 
{
    background-color: rgb(19, 22, 36);
}

#blue #container 
{
    background-color: rgb(0, 0, 0);
    width: 960px;
    margin: 0 auto;
}


#blue aside 
{
    width: 200px;
    height: 400px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    margin-bottom: 10px;
    
}

#blue section
{
    background-color: rgb(255, 255, 255);
    width: 710px;
    height: 400px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    
    color: white;
}

#blue footer
{
    background-color:  rgb(227, 197, 46);
    clear: both;
    padding: 10px;
}
#blue #imgcontainer
{
   display: flex;
   justify-content: center;
}

#blue p 
{
    padding: 10px;
    background-color: rgb(111, 153, 177);
    border-style:double;
    border-color: rgb(255, 255, 255);
}

#blue h1
{
    text-align: center;
}

#blue h2, h3
{
    text-align: center;
    background-color: black;
    margin-bottom: 10px;
}





